@use '../base/variables' as *;
@use '../base/typo' as *;
@use '../base/mixins' as *;

.main{
    padding: 10px;
    overflow-y: scroll;
}

.main::-webkit-scrollbar {
    width: 5px; 
  
  }
  
 
 .main::-webkit-scrollbar-track {
    background: #b4b3b3f6; /* Light gray background */
   
 
  }
  
  /* Thumb (scroll handle) */
  .main::-webkit-scrollbar-thumb {
    background: #04323a; /* Gray scroll thumb */
   
   
  }
  
  /* Thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker gray on hover */
  }
  
  /* Buttons (optional, for older designs) */
  ::-webkit-scrollbar-button {
    background: #ffffffba;
  }
  