
$primary-color: #ffffff;
$secondary-color: #000000;
$tertiary-color: #7f0404;
$info-color: #0688c4;
$success-color: #0bb50b;
$warning-color: #f0ad4e;
$border-radius: 0.25rem;
$border:.0625rem solid #000000;

